// FONTS //
$main-font-stack: 'Montserrat', 'Arial', sans-serif;
$lead-font-stack: "Kaushan Script", 'Arial', cursive;
$text-font-stack: 'Roboto',sans-serif;
$main-font-regular:"Montserrat-regular", sans-serif;
$servic-font-roboto:"Roboto-Regular", sans-serif;

// Primary-color//
$primary-white-color: #ffffff;
$primary-dark-color: #333333;


//main-color//
$nav-color:#fce38a;
$line-color:#f38181;
$servic-text-color:#a6a6a6;

//Gradient//
$linear-gradient-color: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);

//icon-color//
$social-icons-border-color:#f9bd87;
$backgrond-icons-color:#fce38a;
$social-hover:rgb(243, 129, 129);
$icon-hover:#f38181;

//footer//
$border-color:#e5e5e5;
$link-color:#f38181;
$input-color:#ccc;
$btn-background-color:#95e1d3;